snippet date
`date +%Y-%m-%d` $0
endsnippet

snippet datetime
`date +%Y-%m-%d\ %H:%M` $0
endsnippet

snippet uuid
`!p if not snip.c: import uuid; snip.rv = str(uuid.uuid4())`
endsnippet

snippet box
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet
