extends c
# Override the C snippets
priority -49

snippet class
//! @brief ${2:Brief description}
class ${1:`!p
tokens = (snip.basename or "Class").split("_")
snip.rv = "".join(token.title() for token in tokens)
`}
public:
    ${0}
private:

};
endsnippet

snippet using
using ${1:Alias_t} = ${2:type_t};
endsnippet

snippet "name?s?p?a?c?e?" "namespace" rw
namespace ${1:namespace}
{
    ${0:${VISUAL}}
} // namespace $1
endsnippet
