# Markdown snippets.
# Taken and modified from https://github.com/honza/vim-snippets

snippet [
[${1:text}](${2:address})
endsnippet

snippet ![
![${1:alttext}](${2:url})
endsnippet

snippet ```
\`\`\`${1:python}
${0:${VISUAL}}
\`\`\`
endsnippet
