snippet "snipp?e?t?" "UltiSnips snippet" rb
`!p snip.rv = "snippet"` ${1:trigger} "${2:Description}" ${3:b}
${0:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet

snippet "visu?a?l?" "VISUAL" r
`!p snip.rv = "${0:${VISUAL}}"`
endsnippet
